#arrow_champ{
     position: absolute;
     width:400px;
     height: 100px;
     background-color:red;
     margin-top: 100px;
}
#topa1{
  position: absolute;
  background-color: red;
  width:180px;
  height:100px;
  transform:rotate(-45deg);
  margin-left: 8px;
  margin-top:20px;
}
#topa2{
  position: absolute;
  background-color: red;
  width:185px;
  height:100px;
  transform:rotate(45deg);
  margin-top: 180px;
  margin-left: 10px;
}
