body {
    height: 100%;
    width: 100%;
    background-color: #333;
    color: white;
    font-size: 20px;
    font-family: 'sans-serif';
}

.h1 {
    position: relative;
}

/* -- Arrow -- */

.arrow-1 {
    height: 30px;
    width: 30px;
    border: 3px solid pink;
    border-width: 3px 3px 0 0;
    transform: rotate(45deg);
}
