@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body { 
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #2dbde5 0%,#ed80c6 100%);
}

header h1 {
    font-size: 26pt;
    font-weight: lighter;
}

header h3 { font-size: 12pt; }

textarea { resize: vertical; }