body {
    background-color: #3841c7;
  }

@font-face{
  font-family: righteous;
  src: url(Righteous-Regular.ttf);
}

h1{
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color: black;
  letter-spacing: 8px;
  font-family: righteous;
  margin-top: 250px;
  border: 3px dashed white;
  border-radius: 10px;
  box-sizing: content-box;  
  width: 1250px;
  height: 125px;
  box-shadow: 3px 15px;
  transition: color 1s;
  margin-left: 125px;
}

h1:hover {
  color: white;
}

h3{
  font-size: 25px;
  margin: 200px 0px 0px 590px;
}
a.link{
  color: black;
  text-decoration: none;
}
a:hover {
  transition: 1s;
  color: white;
  text-decoration: none;
}


