body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #403B4A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
table {
  table-layout: fixed;
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 25px !important;
border-radius: 20px;
border-collapse: unset !important;
width: auto !important;
}
.zoom {
  transform: scale(2);
  transition-duration: 1s;
  transition-delay: 200ms;
}
td {
  font-size: 28px;
  width: 35px;
  font-weight: 500;
  padding: 5px !important;
  text-align: center !important;
}
tr {
  border: none !important;
}
section[name="initial"] {
  font-size: 17px;
}
.losuj-button {
  margin-top: 20px;
}
.non-visible {
  opacity: 0;
}
section[name="main"] {
}
.away {
  display: none;
}
